.hero {
  // For compatibility reasons, the background image was stylised directly on hero component.
  background-color: $dark;

  &__container {
    width: 65%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8em;
  }

  &__name {
    color: $light;
    margin-top: 3em;
    font-size: 2.2em;
  }

  &__job {
    color: $grey;
    font-size: 1.8em;
  }

  &__hr {
    border: 1px solid $light;
    opacity: 0.5;
    width: 100%;
  }

  &__subtitles {
    font-weight: bold;
    color: $light;
  }

  &__cta {
    margin-bottom: 3em;
    color: $light;
    font-weight: bold;
    background-color: $tertiary-color;
    width: 10em;
    padding: 1em;
    border-radius: 25px;
    transition: 0.3s;

    &:hover {
      background-color: $tertiary-color-darken;
    }
  }
}
