// Colors
$light: #f0f0f0;
$grey: #b6b6b6;
$dark: #252525;

$primary-color: #343434;
$primary-color-darken: darken($primary-color, 20%);

$secondary-color: #ebebeb;
$secondary-color-darken: darken($secondary-color, 20%);

$tertiary-color: #bbbb27;
$tertiary-color-darken: darken($tertiary-color, 20%);
